@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Brush Script MT", cursive;
}

nav {
  height: 12vh;
  display: flex;
  justify-content: center;
}

.navElements {
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  width: 20%;
  height: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTitle p span {
  color: red;
}

.navLinks {
  display: flex;
  gap: 5px;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.navLinks div a {
  text-decoration: none;
  font-size: 18px;
  color: #626a6d;
}

.navLink {
  width: 12.5%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBtn {
  height: 50%;
  width: 140px;
  border-radius: 20px;
  border: none;
  background-color: #ce1212;
  color: white;
}

.navResp {
  display: none;
}

.navBars {
  display: none;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.formNav {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5333333333);
  position: fixed;
  z-index: 1000000000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formNavcontent {
  height: 65vh;
  width: 45vw !important;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.exit {
  position: fixed;
  right: 25vh;
  top: 15vh;
  font-size: 50px;
  color: white;
}

.formTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.signup {
  background-color: green;
}

.login {
  background-color: blue;
}

.topItems {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formbottom {
  height: 100%;
  width: 100%;
}

.signUpcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  display: none;
}

.signItem input {
  width: 280px;
  height: 30px;
}

.logincontent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

@media (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    height: fit-content;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    z-index: 111;
  }
  .navElements {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .navTitle {
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navTitle p {
    font-size: 25px;
  }
  .navTitle p span {
    color: red;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    height: 100%;
    background-color: yellow;
    justify-content: space-between;
    align-items: center;
    display: none;
  }
  .navBtn {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    font-size: 10px;
    display: none;
  }
  .formNav {
    display: none;
    background-color: red;
  }
  .formNavcontent {
    display: none;
  }
  .formbottom {
    display: none;
  }
  .logincontent {
    display: none;
  }
}
body {
  cursor: pointer;
}

.section1 {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.leftPart {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sec1Title {
  font-size: 35px;
}

.btnsPart {
  height: 35px;
  width: fit-content;
  display: flex;
  gap: 30px;
  align-items: center;
}
.btnsPart button {
  width: 150px;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: #ce1212;
  color: white;
}

.sec1Watch {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sec1Icn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px #ce1212;
  color: #ce1212;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

.sec2topPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sec2Title span {
  color: red;
}

.sec2right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vidBtnsec2 {
  position: relative;
}
.vidBtnsec2 img {
  width: 30vw;
}

.sec2Start {
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-150%, -50%);
  border: 4px solid;
  background-color: white;
}

.sec2left {
  width: 45vw;
  background-image: url(../img/about.jpg);
  display: flex;
  align-items: end;
  justify-content: center;
}

.sec2Num {
  width: 78%;
  height: 18%;
  background-color: white;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sec2Num p {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.sec2text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.checkedTxt {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.checkedTxt p i {
  margin-right: 10px;
  color: red;
}

.sec2bottomPart {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sec2Italic {
  font-style: italic;
}

.videoContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5882352941);
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  display: none;
}
.videoContainer iframe {
  width: 90%;
  outline: none;
  display: block;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
}

.showVid {
  display: flex;
}

.section3 {
  width: 100%;
  display: flex;
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
}

.sec3Left {
  width: 32%;
  background-color: #ce1212;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}
.sec3Left p {
  color: #fef6ec;
}
.sec3Left .sec3Btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec3Left .sec3Btn button {
  width: 140px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #dd5a5a;
  color: white;
}
.sec3Left h1 {
  font-size: 30px;
}

.sec3Right {
  display: flex;
  width: 65%;
  flex-direction: row;
  justify-content: space-between;
}

.sec3rightParts {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
  background-color: white;
  transition: 0.3s;
}

.sec3rightParts:hover {
  transform: scale(1.12);
}
.sec3rightParts .roundedIcon {
  width: 55px;
  height: 55px;
  background-color: #fae7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec3rightParts .roundedIcon i {
  font-size: 30px;
  color: #ce1212;
}

.section4 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 35vh;
  align-items: center;
  background-image: url(../img/stats-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.section5 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sec5Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sec5Top h1 {
  font-size: 38px;
}
.sec5Top h1 span {
  color: #ce1212;
}

.sec5bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sec5titles {
  width: 38%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.sec5title {
  width: 22.5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-bottom: 3px solid #393d49;
  color: #393d49;
  border: none;
  background-color: white;
}
.sec5title:hover {
  color: #ce1212;
  border-bottom: 6px solid #ce1212;
  cursor: pointer;
}
.sec5title:focus {
  color: #ce1212;
  border-bottom: 6px solid #ce1212;
}

.menu {
  text-align: center;
}
.menu h1 {
  font-size: 30px;
  color: #ce1212;
}

.menuContent {
  width: 86%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.meal {
  width: 28.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.meal h6 {
  font-size: 25px;
  color: #ce1212;
}

.starters {
  display: none;
}

.Breakfast {
  display: none;
}

.Lunch {
  display: none;
}

.dinner {
  display: none;
}

.section8 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 50px;
  background-color: #eeeeee;
}

.sec8Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec8Top h1 span {
  color: #d22d2d;
}

.sec8bottom {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.sec8Card {
  width: 31.6666666667%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: white;
  padding-bottom: 30px;
  transition: 0.3s;
}
.sec8Card:hover {
  transform: scale(1.1);
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cardDescription h3 {
  font-size: 25px;
}
.cardDescription p {
  color: #7d7d81;
}

.section9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  gap: 35px;
}
.section9 input {
  border: none;
}

.sec9top {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.sec9top h1 {
  font-size: 30px;
}
.sec9top h1 span {
  color: #d22d2d;
}

.sec9bottom {
  display: flex;
  background-color: #eeeeee;
  flex-direction: row-reverse;
}
.sec9bottom .img {
  width: 35%;
  background-image: url(../img/reservation.jpg);
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  align-items: center;
  padding-inline: 20px;
  padding-top: 70px;
  padding-bottom: 60px;
}

.smallInputs {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.sec9Form {
  min-width: 30%;
  height: 45px;
}

.bigInput {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.sec9Btn {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #d22d2d;
  color: white;
}

.bigInp {
  min-width: 100%;
  height: 180px;
}

.section11 {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 50px;
  align-items: center;
  gap: 40px;
}

.sec11Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sec11Top h1 {
  font-size: 30px;
}
.sec11Top h1 span {
  color: #d22d2d;
}

.map {
  width: 80%;
  display: flex;
  align-items: center;
}
.map iframe {
  width: 100%;
  height: 40vh;
}

.sec11Contact {
  width: 80%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactItems {
  width: 45%;
  background-color: #eeeeee;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.contactItems h3 {
  font-size: 25px;
}
.contactItems p {
  font-size: 12px;
}

.roundedIconSec11 {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d22d2d;
}
.roundedIconSec11 i {
  font-size: 20px;
  color: white;
}

.sec11Inps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  padding: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
}
.sec11Inps button {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: #d22d2d;
  color: white;
  border: none;
}

.smallinps {
  display: flex;
  justify-content: space-between;
}
.smallinps input {
  width: 49%;
  height: 45px;
}

.sec11Subject {
  height: 45px;
}

.sec11Message {
  height: 150px;
}

.sec11Btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 430px) {
  .section1 {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    flex-direction: column-reverse;
    gap: 8hy0px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .sec1Img {
    width: 80%;
  }
  .leftPart {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }
  .sec1Title {
    font-size: 25px;
  }
  .btnsPart {
    height: 35px;
    width: fit-content;
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .btnsPart button {
    width: 120px;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: #ce1212;
  }
  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px;
    padding-bottom: 60px;
  }
  .sec2topPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 70px;
  }
  .sec2Title {
    font-size: 20px;
  }
  .sec2Title span {
    color: red;
  }
  .sec2right {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec2left {
    width: 100vw;
    height: 80vh;
    background-image: url(../img/about.jpg);
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .sec2Num {
    width: 78%;
    height: 25%;
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .sec2Num h3 {
    font-size: 25px;
  }
  .sec2Num p {
    color: red;
    font-size: 25px;
    font-weight: bold;
  }
  .vidBtnsec2 {
    position: relative;
  }
  .vidBtnsec2 img {
    width: 100%;
  }
  .sec2Start {
    position: absolute;
    top: 0;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    transform: translate(-40%, -50%);
    border: 4px solid;
    background-color: white;
  }
  .sec2text {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .checkedTxt {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .checkedTxt p i {
    margin-right: 10px;
    color: red;
  }
  .sec2bottomPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  .starters {
    display: none;
  }
  .Breakfast {
    display: none;
  }
  .Lunch {
    display: none;
  }
  .dinner {
    display: none;
  }
  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: space-between;
    gap: 30px;
  }
  .sec3Left {
    width: 100%;
    background-color: #ce1212;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
  }
  .sec3Left .sec3Btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sec3Left .sec3Btn button {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #dd5a5a;
    color: white;
  }
  .sec3Left h1 {
    font-size: 30px;
  }
  .sec3Right {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }
  .sec3rightParts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    background-color: white;
  }
  .sec3rightParts .roundedIcon {
    width: 55px;
    height: 55px;
    background-color: #dd5a5a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec3rightParts .roundedIcon i {
    font-size: 30px;
    color: #ce1212;
  }
  .section4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-image: url(../img/stats-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: black;
  }
  .section5 {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .sec5Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sec5Top h1 {
    font-size: 20px;
    text-align: center;
  }
  .sec5Top h1 span {
    color: #ce1212;
  }
  .sec5bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .sec5titles {
    width: 95%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .sec5title {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-bottom: 3px solid #393d49;
    color: #393d49;
    border: none;
    background-color: white;
  }
  .sec5title:hover {
    color: #ce1212;
    border-bottom: 6px solid #ce1212;
    cursor: pointer;
  }
  .sec5title:focus {
    color: #ce1212;
    border-bottom: 6px solid #ce1212;
  }
  .menu {
    text-align: center;
  }
  .menu h1 {
    font-size: 30px;
    color: #ce1212;
  }
  .menuContent {
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    row-gap: 50px;
  }
  .meal {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .meal h6 {
    font-size: 25px;
    color: #ce1212;
  }
  .starters {
    display: none;
  }
  .Breakfast {
    display: none;
  }
  .Lunch {
    display: none;
  }
  .dinner {
    display: none;
  }
  .section8 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0px;
    background-color: #eeeeee;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sec8Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sec8Top h1 span {
    color: #d22d2d;
  }
  .sec8bottom {
    width: 93%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .sec8Card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: white;
    padding-bottom: 30px;
    transition: 0.3s;
  }
  .sec8Card:hover {
    transform: scale(1.1);
  }
  .cardDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cardDescription h3 {
    font-size: 25px;
  }
  .cardDescription p {
    color: #a9a8ac;
  }
  .section9 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 35px;
  }
  .section9 input {
    border: none;
  }
  .sec9top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .sec9top h1 {
    font-size: 18px;
  }
  .sec9top h1 span {
    color: #d22d2d;
  }
  .sec9bottom {
    display: flex;
    background-color: #eeeeee;
    flex-direction: column-reverse;
    gap: 0;
  }
  .sec9bottom .img {
    width: 100%;
    height: 70vh;
    background-image: url(../img/reservation.jpg);
    background-size: cover;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    padding-inline: 5px;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .smallInputs {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  .sec9Form {
    min-width: 90%;
    height: 45px;
  }
  .bigInput {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  .sec9Btn {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #d22d2d;
    color: white;
  }
  .bigInp {
    min-width: 100%;
    height: 180px;
  }
  .section11 {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 50px;
    align-items: center;
    gap: 40px;
  }
  .sec11Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .sec11Top h1 {
    font-size: 20px;
  }
  .sec11Top h1 span {
    color: #d22d2d;
  }
  .map {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .map iframe {
    width: 100%;
    height: 70vh;
  }
  .sec11Contact {
    width: 90%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contactItems {
    width: 100%;
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .contactItems h3 {
    font-size: 25px;
  }
  .contactItems p {
    font-size: 12px;
  }
  .roundedIconSec11 {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22d2d;
  }
  .roundedIconSec11 i {
    font-size: 20px;
    color: white;
  }
  .sec11Inps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 88%;
    padding: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
  .sec11Inps button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: #d22d2d;
    color: white;
    border: none;
  }
  .smallinps {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
  }
  .smallinps input {
    width: 100%;
    height: 45px;
  }
  .sec11Subject {
    height: 45px;
  }
  .sec11Message {
    height: 150px;
  }
  .sec11Btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
footer {
  width: 100%;
  background-color: #1f1f23;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.footerTop {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footerParts {
  display: flex;
  gap: 18px;
  font-size: 20px;
  color: white;
}

.footerParttxt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerParttxt h4 {
  font-weight: bold;
}
.footerParttxt div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footerParttxt div p {
  font-size: 13px;
  color: #aaacad;
  font-weight: bold;
}

.footerIcons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerIcons h4 {
  font-size: 20px;
  color: white;
}

.icons {
  display: flex;
  gap: 7px;
}

.roundedIcnFtr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: #aaacad solid 1.5px;
  color: #aaacad;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaacad;
  gap: 10px;
}
.footerBottom span {
  font-weight: bolder;
  font-size: 18px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

@media (max-width: 430px) {
  footer {
    width: 100%;
    background-color: #1f1f23;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 40px;
  }
  .footerTop {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .footerParts {
    display: flex;
    gap: 18px;
    font-size: 20px;
    color: white;
  }
  .footerParttxt {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footerParttxt h4 {
    font-weight: bold;
  }
  .footerParttxt div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footerParttxt div p {
    font-size: 13px;
    color: #aaacad;
    font-weight: bold;
  }
  .footerIcons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .footerIcons h4 {
    font-size: 20px;
    color: white;
  }
  .icons {
    display: flex;
    gap: 7px;
  }
  .roundedIcnFtr {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: #aaacad solid 1.5px;
    color: #aaacad;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaacad;
    gap: 10px;
    text-align: center;
  }
  .footerBottom span {
    font-weight: bolder;
    font-size: 18px;
  }
  footer {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Brush Script MT", cursive;
}

nav {
  height: 12vh;
  display: flex;
  justify-content: center;
}

.navElements {
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  width: 20%;
  height: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTitle p span {
  color: red;
}

.navLinks {
  display: flex;
  gap: 5px;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.navLinks div a {
  text-decoration: none;
  font-size: 18px;
  color: #626a6d;
}

.navLink {
  width: 12.5%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBtn {
  height: 50%;
  width: 140px;
  border-radius: 20px;
  border: none;
  background-color: #ce1212;
  color: white;
}

.navResp {
  display: none;
}

.navBars {
  display: none;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.formNav {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5333333333);
  position: fixed;
  z-index: 1000000000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formNavcontent {
  height: 65vh;
  width: 45vw !important;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.exit {
  position: fixed;
  right: 25vh;
  top: 15vh;
  font-size: 50px;
  color: white;
}

.formTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.signup {
  background-color: green;
}

.login {
  background-color: blue;
}

.topItems {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formbottom {
  height: 100%;
  width: 100%;
}

.signUpcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  display: none;
}

.signItem input {
  width: 280px;
  height: 30px;
}

.logincontent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

@media (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    height: fit-content;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    z-index: 111;
  }
  .navElements {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .navTitle {
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navTitle p {
    font-size: 25px;
  }
  .navTitle p span {
    color: red;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    height: 100%;
    background-color: yellow;
    justify-content: space-between;
    align-items: center;
    display: none;
  }
  .navBtn {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: none;
    font-size: 10px;
    display: none;
  }
  .formNav {
    display: none;
    background-color: red;
  }
  .formNavcontent {
    display: none;
  }
  .formbottom {
    display: none;
  }
  .logincontent {
    display: none;
  }
}
body {
  cursor: pointer;
}

.section1 {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.leftPart {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sec1Title {
  font-size: 35px;
}

.btnsPart {
  height: 35px;
  width: fit-content;
  display: flex;
  gap: 30px;
  align-items: center;
}
.btnsPart button {
  width: 150px;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: #ce1212;
  color: white;
}

.sec1Watch {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sec1Icn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px #ce1212;
  color: #ce1212;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

.sec2topPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sec2Title span {
  color: red;
}

.sec2right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vidBtnsec2 {
  position: relative;
}
.vidBtnsec2 img {
  width: 30vw;
}

.sec2Start {
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-150%, -50%);
  border: 4px solid;
  background-color: white;
}

.sec2left {
  width: 45vw;
  background-image: url(../img/about.jpg);
  display: flex;
  align-items: end;
  justify-content: center;
}

.sec2Num {
  width: 78%;
  height: 18%;
  background-color: white;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sec2Num p {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.sec2text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.checkedTxt {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.checkedTxt p i {
  margin-right: 10px;
  color: red;
}

.sec2bottomPart {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sec2Italic {
  font-style: italic;
}

.videoContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5882352941);
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
  display: none;
}
.videoContainer iframe {
  width: 90%;
  outline: none;
  display: block;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
}

.showVid {
  display: flex;
}

.section3 {
  width: 100%;
  display: flex;
  background-color: #eeeeee;
  justify-content: center;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
}

.sec3Left {
  width: 32%;
  background-color: #ce1212;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}
.sec3Left p {
  color: #fef6ec;
}
.sec3Left .sec3Btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec3Left .sec3Btn button {
  width: 140px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #dd5a5a;
  color: white;
}
.sec3Left h1 {
  font-size: 30px;
}

.sec3Right {
  display: flex;
  width: 65%;
  flex-direction: row;
  justify-content: space-between;
}

.sec3rightParts {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
  background-color: white;
  transition: 0.3s;
}

.sec3rightParts:hover {
  transform: scale(1.12);
}
.sec3rightParts .roundedIcon {
  width: 55px;
  height: 55px;
  background-color: #fae7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec3rightParts .roundedIcon i {
  font-size: 30px;
  color: #ce1212;
}

.section4 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 35vh;
  align-items: center;
  background-image: url(../img/stats-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.section5 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sec5Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sec5Top h1 {
  font-size: 38px;
}
.sec5Top h1 span {
  color: #ce1212;
}

.sec5bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sec5titles {
  width: 38%;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.sec5title {
  width: 22.5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-bottom: 3px solid #393d49;
  color: #393d49;
  border: none;
  background-color: white;
}
.sec5title:hover {
  color: #ce1212;
  border-bottom: 6px solid #ce1212;
  cursor: pointer;
}
.sec5title:focus {
  color: #ce1212;
  border-bottom: 6px solid #ce1212;
}

.menu {
  text-align: center;
}
.menu h1 {
  font-size: 30px;
  color: #ce1212;
}

.menuContent {
  width: 86%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.meal {
  width: 28.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.meal h6 {
  font-size: 25px;
  color: #ce1212;
}

.starters {
  display: none;
}

.Breakfast {
  display: none;
}

.Lunch {
  display: none;
}

.dinner {
  display: none;
}

.section8 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 50px;
  background-color: #eeeeee;
}

.sec8Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec8Top h1 span {
  color: #d22d2d;
}

.sec8bottom {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.sec8Card {
  width: 31.6666666667%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: white;
  padding-bottom: 30px;
  transition: 0.3s;
}
.sec8Card:hover {
  transform: scale(1.1);
}

.cardDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cardDescription h3 {
  font-size: 25px;
}
.cardDescription p {
  color: #7d7d81;
}

.section9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  gap: 35px;
}
.section9 input {
  border: none;
}

.sec9top {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.sec9top h1 {
  font-size: 30px;
}
.sec9top h1 span {
  color: #d22d2d;
}

.sec9bottom {
  display: flex;
  background-color: #eeeeee;
  flex-direction: row-reverse;
}
.sec9bottom .img {
  width: 35%;
  background-image: url(../img/reservation.jpg);
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  align-items: center;
  padding-inline: 20px;
  padding-top: 70px;
  padding-bottom: 60px;
}

.smallInputs {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.sec9Form {
  min-width: 30%;
  height: 45px;
}

.bigInput {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.sec9Btn {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #d22d2d;
  color: white;
}

.bigInp {
  min-width: 100%;
  height: 180px;
}

.section11 {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 50px;
  align-items: center;
  gap: 40px;
}

.sec11Top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sec11Top h1 {
  font-size: 30px;
}
.sec11Top h1 span {
  color: #d22d2d;
}

.map {
  width: 80%;
  display: flex;
  align-items: center;
}
.map iframe {
  width: 100%;
  height: 40vh;
}

.sec11Contact {
  width: 80%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contactItems {
  width: 45%;
  background-color: #eeeeee;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.contactItems h3 {
  font-size: 25px;
}
.contactItems p {
  font-size: 12px;
}

.roundedIconSec11 {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d22d2d;
}
.roundedIconSec11 i {
  font-size: 20px;
  color: white;
}

.sec11Inps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  padding: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
}
.sec11Inps button {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: #d22d2d;
  color: white;
  border: none;
}

.smallinps {
  display: flex;
  justify-content: space-between;
}
.smallinps input {
  width: 49%;
  height: 45px;
}

.sec11Subject {
  height: 45px;
}

.sec11Message {
  height: 150px;
}

.sec11Btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 430px) {
  .section1 {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    flex-direction: column-reverse;
    gap: 8hy0px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .sec1Img {
    width: 80%;
  }
  .leftPart {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }
  .sec1Title {
    font-size: 25px;
  }
  .btnsPart {
    height: 35px;
    width: fit-content;
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .btnsPart button {
    width: 120px;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: #ce1212;
  }
  .section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px;
    padding-bottom: 60px;
  }
  .sec2topPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 70px;
  }
  .sec2Title {
    font-size: 20px;
  }
  .sec2Title span {
    color: red;
  }
  .sec2right {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec2left {
    width: 100vw;
    height: 80vh;
    background-image: url(../img/about.jpg);
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .sec2Num {
    width: 78%;
    height: 25%;
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .sec2Num h3 {
    font-size: 25px;
  }
  .sec2Num p {
    color: red;
    font-size: 25px;
    font-weight: bold;
  }
  .vidBtnsec2 {
    position: relative;
  }
  .vidBtnsec2 img {
    width: 100%;
  }
  .sec2Start {
    position: absolute;
    top: 0;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    transform: translate(-40%, -50%);
    border: 4px solid;
    background-color: white;
  }
  .sec2text {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .checkedTxt {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .checkedTxt p i {
    margin-right: 10px;
    color: red;
  }
  .sec2bottomPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  .starters {
    display: none;
  }
  .Breakfast {
    display: none;
  }
  .Lunch {
    display: none;
  }
  .dinner {
    display: none;
  }
  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: space-between;
    gap: 30px;
  }
  .sec3Left {
    width: 100%;
    background-color: #ce1212;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
  }
  .sec3Left .sec3Btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .sec3Left .sec3Btn button {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #dd5a5a;
    color: white;
  }
  .sec3Left h1 {
    font-size: 30px;
  }
  .sec3Right {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }
  .sec3rightParts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    background-color: white;
  }
  .sec3rightParts .roundedIcon {
    width: 55px;
    height: 55px;
    background-color: #dd5a5a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec3rightParts .roundedIcon i {
    font-size: 30px;
    color: #ce1212;
  }
  .section4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-image: url(../img/stats-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: black;
  }
  .section5 {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .sec5Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .sec5Top h1 {
    font-size: 20px;
    text-align: center;
  }
  .sec5Top h1 span {
    color: #ce1212;
  }
  .sec5bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .sec5titles {
    width: 95%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .sec5title {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-bottom: 3px solid #393d49;
    color: #393d49;
    border: none;
    background-color: white;
  }
  .sec5title:hover {
    color: #ce1212;
    border-bottom: 6px solid #ce1212;
    cursor: pointer;
  }
  .sec5title:focus {
    color: #ce1212;
    border-bottom: 6px solid #ce1212;
  }
  .menu {
    text-align: center;
  }
  .menu h1 {
    font-size: 30px;
    color: #ce1212;
  }
  .menuContent {
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    row-gap: 50px;
  }
  .meal {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .meal h6 {
    font-size: 25px;
    color: #ce1212;
  }
  .starters {
    display: none;
  }
  .Breakfast {
    display: none;
  }
  .Lunch {
    display: none;
  }
  .dinner {
    display: none;
  }
  .section8 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0px;
    background-color: #eeeeee;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sec8Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sec8Top h1 span {
    color: #d22d2d;
  }
  .sec8bottom {
    width: 93%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .sec8Card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: white;
    padding-bottom: 30px;
    transition: 0.3s;
  }
  .sec8Card:hover {
    transform: scale(1.1);
  }
  .cardDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cardDescription h3 {
    font-size: 25px;
  }
  .cardDescription p {
    color: #a9a8ac;
  }
  .section9 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 35px;
  }
  .section9 input {
    border: none;
  }
  .sec9top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .sec9top h1 {
    font-size: 18px;
  }
  .sec9top h1 span {
    color: #d22d2d;
  }
  .sec9bottom {
    display: flex;
    background-color: #eeeeee;
    flex-direction: column-reverse;
    gap: 0;
  }
  .sec9bottom .img {
    width: 100%;
    height: 70vh;
    background-image: url(../img/reservation.jpg);
    background-size: cover;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    padding-inline: 5px;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .smallInputs {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  .sec9Form {
    min-width: 90%;
    height: 45px;
  }
  .bigInput {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  .sec9Btn {
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #d22d2d;
    color: white;
  }
  .bigInp {
    min-width: 100%;
    height: 180px;
  }
  .section11 {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 50px;
    align-items: center;
    gap: 40px;
  }
  .sec11Top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .sec11Top h1 {
    font-size: 20px;
  }
  .sec11Top h1 span {
    color: #d22d2d;
  }
  .map {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .map iframe {
    width: 100%;
    height: 70vh;
  }
  .sec11Contact {
    width: 90%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contactItems {
    width: 100%;
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .contactItems h3 {
    font-size: 25px;
  }
  .contactItems p {
    font-size: 12px;
  }
  .roundedIconSec11 {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d22d2d;
  }
  .roundedIconSec11 i {
    font-size: 20px;
    color: white;
  }
  .sec11Inps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 88%;
    padding: 10px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
  .sec11Inps button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: #d22d2d;
    color: white;
    border: none;
  }
  .smallinps {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
  }
  .smallinps input {
    width: 100%;
    height: 45px;
  }
  .sec11Subject {
    height: 45px;
  }
  .sec11Message {
    height: 150px;
  }
  .sec11Btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
footer {
  width: 100%;
  background-color: #1f1f23;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.footerTop {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footerParts {
  display: flex;
  gap: 18px;
  font-size: 20px;
  color: white;
}

.footerParttxt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerParttxt h4 {
  font-weight: bold;
}
.footerParttxt div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footerParttxt div p {
  font-size: 13px;
  color: #aaacad;
  font-weight: bold;
}

.footerIcons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerIcons h4 {
  font-size: 20px;
  color: white;
}

.icons {
  display: flex;
  gap: 7px;
}

.roundedIcnFtr {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: #aaacad solid 1.5px;
  color: #aaacad;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaacad;
  gap: 10px;
}
.footerBottom span {
  font-weight: bolder;
  font-size: 18px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

@media (max-width: 430px) {
  footer {
    width: 100%;
    background-color: #1f1f23;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 40px;
  }
  .footerTop {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .footerParts {
    display: flex;
    gap: 18px;
    font-size: 20px;
    color: white;
  }
  .footerParttxt {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footerParttxt h4 {
    font-weight: bold;
  }
  .footerParttxt div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footerParttxt div p {
    font-size: 13px;
    color: #aaacad;
    font-weight: bold;
  }
  .footerIcons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .footerIcons h4 {
    font-size: 20px;
    color: white;
  }
  .icons {
    display: flex;
    gap: 7px;
  }
  .roundedIcnFtr {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: #aaacad solid 1.5px;
    color: #aaacad;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaacad;
    gap: 10px;
    text-align: center;
  }
  .footerBottom span {
    font-weight: bolder;
    font-size: 18px;
  }
  footer {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
